/*Formatação padrão*/

body, html{
    margin: 0;
    font: 16px "Lato", sans-serif;
    color:#777;
    height: 100%;
}

.conteudo{
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p{
    margin-bottom: 20px;
}

/*Efeito Parallax*/

.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    /*opacity: 0.9;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../imagens/imagem1.jpg);
}

.caixa2{
    background-image: url(../imagens/imagem2.jpg);
    background-size: auto;
}

.caixa3{
    background-image: url(../imagens/imagem3.jpg);
    background-size: auto;
}

.caixa4{
    background-image: url(../imagens/imagem4.jpg);
    background-size: auto;
}

.conteudo-titulo{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo{
    color: #fff;
    background-color: black;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}